<div class="landing__page">
<div class="landing__page__contents">
<h2>EMPLOYEE MANAGEMENT APP</h2>
<h5>"Streamlining Productivity, Fostering Collaboration, and Elevating Workplace Excellence."</h5>
<img src="https://assets-global.website-files.com/5f8dd331b45e61f0a3ac9861/6512f59c989f227795fbf0b5_Email-Marketing-Examples-Blog_feat-image_1080x680-p-1080.png" alt="">
</div>
<div class="landing__page__forms">
<h2>LOGIN</h2>
<h5>WELCOME BACK !!</h5>
<div class="d-grid gap-2 col-3 mx-auto">
    <button  type="button" (click)="login()">LOGIN <i class="bi bi-box-arrow-in-right"></i></button>
  </div>
</div>
</div>
