<!-- Listing Employees -->

<div class="employee__list">
  <h5>EMPLOYEE LIST</h5>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>IMAGE</th>
        <th>FULL NAME</th>
        <th>ROLE</th>
        <th>DATE OF BIRTH</th>
        <th>BLOOD GROUP</th>
        <th>GENDER</th>
        <th>EMAIL</th>
        <th>MOBILE NO:</th>
        <th>ACTIONS</th>
        <th>STATUS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td><img [src]="employee.image" height="50px" width="50px"></td>
        <td>{{ employee.fullName | uppercase }}</td>
        <td>{{ employee.jobRole | uppercase }}</td>
        <td>{{ employee.dateOfBirth | date }}</td>
        <td>{{ employee.bloodGroup | uppercase }}</td>
        <td>{{ employee.gender | uppercase }}</td>
        <td>{{ employee.email | uppercase }}</td>
        <td>{{ employee.mobile }}</td>
        <td>
          <i
            class="bi bi-pencil-square mx-2"
            style="color: #ff5f1f; cursor: pointer;"
            (click)="editEmployee(employee)"
          ></i>
          <i
            class="bi bi-trash3-fill mx-2"
            style="color: #ff5f1f; cursor: pointer"
            (click)="deleteEmployee(employee.id)"
          ></i>
        </td>
        <td>
          <button
            type="button"
            class="status__button"
            (click)="setStatus(employee)"
            [style.background-color]="employee.status ? 'green' : '#FF5F1F'"
            style="font-size: 12px ; color: white;"
          >
            {{ employee.status ? "Active" : "Inactive" }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Editing Employee -->

<div class="container" *ngIf="isEditing">
  <h5>EDIT EMPLOYEE</h5>
  <form [formGroup]="editForm" (ngSubmit)="updateEmployee()">
    <label for="image">Image:</label>
    <input type="text" class="form-control-file" id="image" placeholder="Image URL" formControlName="image"> 
    <label for="fullName">Full Name:</label>
    <input
      type="text"
      class="form-control"
      id="fullName"
      placeholder="Enter your full name"
      formControlName="fullName"
    />
    <label for="leaveType">Job Role</label>
    <select
      class="form-control"
      id="leaveType"
      name="leaveType"
      required
      formControlName="jobRole"
    >
      <option value="" disabled selected>Job Role</option>
      <option value="frontend">Frontend Developer</option>
      <option value="backend">Backend Developer</option>
      <option value="ml">ML Engineer</option>
      <option value="ai">AI Engineer</option>
      <option value="Business">Business Analytics</option>
      <option value="hr">Human Resource</option>
    </select>
    <label for="age">Age:</label>
    <input
      type="number"
      class="form-control"
      id="age"
      placeholder="Enter your age"
      formControlName="age"
    />
    <label for="dob">Date of Birth:</label>
    <input
      type="date"
      class="form-control"
      id="dob"
      formControlName="dateOfBirth"
    />
    <label for="bloodGroup">Blood Group:</label>
    <input
      type="text"
      class="form-control"
      id="bloodGroup"
      placeholder="Enter your blood group"
      formControlName="bloodGroup"
    />
    <label>Gender:</label> <br />
    <select
      class="form-control"
      name="gender"
      id="male"
      value="Male"
      formControlName="gender"
    >
      <option value="male">MALE</option>
      <option value="female">FEMALE</option>
      <option>PREFER NOT TO SAY</option>
    </select>

    <label for="email">Email ID:</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="Enter your email"
      formControlName="email"
    />
    <label for="mobileNumber">Mobile Number:</label>
    <input
      type="tel"
      class="form-control"
      id="mobileNumber"
      placeholder="Enter your mobile number"
      formControlName="mobile"
    />
    <button type="submit" class="btnupdate" (click)="updateEmployee()">
      Update
    </button>
    <button class="btncancel" (click)="cancelEdit()">Cancel</button>
  </form>
</div>
